code > span.kw { color: #C92241; }
code > span.dt { color: #1F70DB; }
code > span.dv { color: #7A0DD4; }
code > span.bn { color: #D33682; }
code > span.fl { color: #7A0DD4; }
code > span.ch { color: #4070a0; }
code > span.st { color: #2AA198; }
code > span.co { color: #75715E; }
code > span.ot { color: #336600; }
code > span.al { color: #CB4B16; }
code > span.fu { color: #C92241; }
code > span.er { color: #D30102; }

h1 { margin-top: 40px; margin-bottom: 15px; }
h2 { margin-top: 30px; margin-bottom: 15px; }
h3 { margin-top: 30px; margin-bottom: 15px; }
h4 { margin-top: 20px; margin-bottom: 10px; }
h5 { font-size: 1em; margin-top: 20px; margin-bottom: 10px; }
p { margin-top: 10px; margin-bottom: 10px; }
code { color: black; background-color: #f4f4f4;}
figure { margin-top: 20px; margin-bottom: 20px; text-align: center; }
img {margin-left: auto; margin-right: auto; }
