code > span.kw { color: #C92241; }
code > span.dt { color: #1F70DB; }
code > span.dv { color: #7A0DD4; }
code > span.bn { color: #D33682; }
code > span.fl { color: #D33682; }
code > span.ch { color: #4070a0; }
code > span.st { color: #2AA198; }
code > span.co { color: #75715E; }
code > span.ot { color: #336600; }
code > span.al { color: #CB4B16; }
code > span.fu { color: #C92241; }
code > span.er { color: #D30102; }

